* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *zoom-max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.6rem;
  line-height: 1.5;
}

body.no-scroll {
  overflow: hidden;
}

.close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;
  opacity: 0.6;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

.close:hover {
  opacity: 1;
  cursor: pointer;
}

.close::before, .close::after {
  position: absolute;
  left: 15px;
  content: '';
  height: 25px;
  width: 2px;
  background-color: #c62043;
}

.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1555px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: clamp(1rem, 2.5vw, 2.5rem);
  padding-bottom: clamp(1rem, 2.5vw, 2.5rem);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  display: block;
  width: 100%;
  height: auto;
}

.header__link {
  display: block;
  margin-bottom: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #C42042;
  font-size: clamp(1.2rem, 2.5vw, 1.4rem);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: clamp(10px, 5vw, 100px) 0;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .slider {
    height: 450px;
  }
}

@media screen and (max-width: 425px) {
  .slider {
    height: 400px;
  }
}

.slider-1 {
  background: url("../img/carousel/slider1.jpg") no-repeat top #E5B60D;
  background-size: cover;
  background-position-x: -200px;
}

.slider-1_yellow {
  color: #E5B60D;
}

@media screen and (max-width: 1170px) {
  .slider-1 {
    background-position-x: -400px;
  }
}

@media screen and (max-width: 768px) {
  .slider-1 {
    background-image: none;
  }
}

.slider-2 {
  background: url("../img/carousel/slider2.jpg") no-repeat top #6A4AE8;
  background-color: cover;
}

.slider-2_lightBlue {
  color: #6A4AE8;
}

@media screen and (max-width: 768px) {
  .slider-2 {
    background-image: none;
  }
}

.slider-3 {
  background: url("../img/carousel/slider3.jpg") no-repeat top #B53A6D;
  background-size: cover;
  background-position-x: 150px;
}

@media screen and (max-width: 1170px) {
  .slider-3 {
    background-position-x: -150px;
  }
}

.slider-3_lightRed {
  color: #B53A6D;
}

@media screen and (max-width: 768px) {
  .slider-3 {
    background-image: none;
  }
}

.slider-4 {
  background: url("../img/carousel/slider4.jpg") no-repeat #812D83;
  background-size: cover;
  background-position-x: 100px;
}

@media screen and (max-width: 1440px) {
  .slider-4 {
    background-position-x: -100px;
  }
}

@media screen and (max-width: 1170px) {
  .slider-4 {
    background-position-x: -250px;
  }
}

.slider-4_violet {
  color: #812D83;
}

@media screen and (max-width: 768px) {
  .slider-4 {
    background-image: none;
  }
}

.slider-5 {
  background: url("../img/carousel/slider5.jpg") no-repeat #0C9F96;
  background-size: cover;
  background-position-x: -100px;
}

@media screen and (max-width: 1440px) {
  .slider-5 {
    background-position-x: -350px;
  }
}

.slider-5_green {
  color: #0C9F97;
}

@media screen and (max-width: 768px) {
  .slider-5 {
    background-image: none;
  }
}

.slider-6 {
  background: url("../img/carousel/slider6.jpg") no-repeat #E8834A;
  background-size: cover;
  background-position-x: 250px;
}

@media screen and (max-width: 1170px) {
  .slider-6 {
    background-position-x: -100px;
  }
}

.slider-6_orange {
  color: #E8834A;
}

@media screen and (max-width: 768px) {
  .slider-6 {
    background-image: none;
  }
}

.slider-7 {
  background: url("../img/carousel/slider7.jpg") no-repeat #3E479D;
  background-size: cover;
  background-position-x: 100px;
}

@media screen and (max-width: 1170px) {
  .slider-7 {
    background-position-x: -200px;
  }
}

.slider-7_blue {
  color: #3E479D;
}

@media screen and (max-width: 768px) {
  .slider-7 {
    background-image: none;
  }
}

.slider-8 {
  background: url("../img/carousel/slider8.jpg") no-repeat #C42042;
  background-size: cover;
  background-position-x: -150px;
}

@media screen and (max-width: 1170px) {
  .slider-8 {
    background-position-x: -300px;
  }
}

.slider-8_red {
  color: #C42042;
}

@media screen and (max-width: 768px) {
  .slider-8 {
    background-image: none;
  }
}

.slider-9 {
  background: url("../img/carousel/slider9.jpg") no-repeat #2D9DC0;
  background: cover;
}

.slider-9_lightBlue {
  color: #2D9DC0;
}

@media screen and (max-width: 1440px) {
  .slider-9 {
    background-position-x: -500px;
  }
}

@media screen and (max-width: 1024px) {
  .slider-9 {
    background-position-x: -600px;
  }
}

@media screen and (max-width: 768px) {
  .slider-9 {
    background-image: none;
  }
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 230px;
  font-weight: 700;
  line-height: 1;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .slider__title {
    font-size: 200px;
  }
}

@media screen and (max-width: 768px) {
  .slider__title {
    font-size: 3.6rem;
    text-align: center;
  }
}

@media screen and (max-width: 370px) {
  .slider__title {
    font-size: 2.5rem;
  }
}

.slider__title_sm {
  font-size: 115px;
}

@media screen and (max-width: 768px) {
  .slider__title_sm {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 387px) {
  .slider__title_sm {
    font-size: 2.5rem;
  }
}

.slider__subtitle {
  color: #fff;
  font-size: clamp(1.3rem, 2.5vw, 1.6rem);
  margin: 40px 0 35px 30px;
  max-width: 70%;
}

@media screen and (max-width: 1024px) {
  .slider__subtitle {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .slider__subtitle {
    margin: 20px 0;
  }
}

.slider__text {
  width: 40%;
}

@media screen and (max-width: 1440px) {
  .slider__text {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .slider__text {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .slider__text {
    text-align: center;
    width: 100%;
  }
}

.slider__text_right {
  margin-left: auto;
}

.slider__text_left {
  width: 60%;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .slider__text_left {
    width: 100%;
  }
}

.slider__button {
  display: inline-block;
  border-radius: .3em;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 15px;
  background-color: #fff;
  margin-left: 30px;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

@media screen and (max-width: 768px) {
  .slider__button {
    margin: 0;
    width: 80%;
    text-align: center;
  }
}

.registration__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 48px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 48px 3px rgba(0, 0, 0, 0.05);
  border-radius: 0.357em;
  max-width: 1280px;
  margin: 0 auto;
  padding: clamp(3rem, 2.5vw, 2rem) clamp(1rem, 2.5vw, 7rem);
}

.registration__item {
  text-align: center;
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
}

@media screen and (max-width: 1205px) {
  .registration__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (max-width: 1070px) {
  .registration__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (max-width: 927px) {
  .registration__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (max-width: 425px) {
  .registration__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 927px) {
  .registration__item-transfer {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .registration__item-last {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 375px) {
  .registration__item {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 1rem auto;
  }
}

.registration__icon {
  margin-bottom: 1rem;
}

.registration__text {
  letter-spacing: 0.4px;
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
}

@media screen and (max-width: 1205px) {
  .registration__text {
    max-width: 140px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1205px) {
  .registration__button {
    margin: 2rem auto 0;
  }
}

.registration__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #c42042;
  padding: 2rem 3rem;
  border-radius: 0.357em;
  -webkit-box-shadow: 0px 0px 17px 2px rgba(196, 32, 66, 0.4);
          box-shadow: 0px 0px 17px 2px rgba(196, 32, 66, 0.4);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.registration__btn:hover {
  -webkit-box-shadow: 0px 0px 17px 2px rgba(196, 32, 66, 0.8);
          box-shadow: 0px 0px 17px 2px rgba(196, 32, 66, 0.8);
}

@media screen and (max-width: 927px) {
  .registration__btn {
    width: 100%;
  }
}

.cost {
  padding-top: clamp(2rem, 5vw, 8rem);
  padding-bottom: clamp(2rem, 5vw, 8rem);
}

.cost__title {
  font-size: clamp(26px, 2.5vw, 45px);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: clamp(1.5rem, 2.5vw, 4rem);
}

.cost__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 705px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .cost__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cost__info {
    max-width: 100%;
  }
}

.cost__item {
  text-align: center;
}

@media screen and (max-width: 535px) {
  .cost__item {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .cost__item {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .cost__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .cost__item {
    margin: 0 auto;
  }
  .cost__item:first-child {
    margin: 0 auto 30px;
  }
}

.cost__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #C7F1FF;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.cost__img_blue {
  background-color: #C7F1FF;
}

.cost__img_green {
  background-color: #C8FFC7;
}

.cost__icon {
  width: 100px;
  height: 100px;
}

.cost__text {
  text-align: center;
  margin-top: clamp(0.5rem, 2.5vw, 2rem);
  margin-bottom: clamp(0.5rem, 2.5vw, 2rem);
  margin-right: auto;
  margin-left: auto;
  max-width: 60%;
}

@media screen and (max-width: 535px) {
  .cost__text {
    max-width: 40%;
  }
}

.cost__price {
  display: inline-block;
  padding: 10px 35px;
  font-size: clamp(1.4rem, 2.5vw, 2.8rem);
  font-weight: 600;
  border-radius: 2em;
  text-decoration: none;
  color: #000;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.cost__price_blue {
  background-color: #C7F1FF;
}

.cost__price_blue:hover {
  background-color: #9ee7ff;
}

.cost__price_green {
  background-color: #C8FFC7;
}

.cost__price_green:hover {
  background-color: #a0ff9e;
}

.duration__title {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(26px, 2.5vw, 45px);
  font-weight: 600;
  margin-bottom: clamp(2.4rem, 2.5vw, 5rem);
}

.duration__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 705px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .duration__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 100%;
  }
}

.duration__item {
  text-align: center;
}

@media screen and (max-width: 535px) {
  .duration__item {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.duration__img {
  margin-bottom: 20px;
}

.duration__icon {
  width: 130px;
  height: 130px;
}

.duration__text {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

@media screen and (max-width: 535px) {
  .duration__text {
    max-width: 40%;
  }
}

.about {
  padding-top: clamp(2rem, 5vw, 7rem);
  padding-bottom: clamp(2rem, 5vw, 7rem);
}

.about__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(26px, 2.5vw, 45px);
  margin-bottom: 20px;
}

.about__text {
  max-width: 67.78135%;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 48px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 48px 3px rgba(0, 0, 0, 0.05);
  padding: 15px 25px;
  border-radius: 1rem;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}

@media screen and (max-width: 768px) {
  .about__text {
    max-width: 100%;
    padding: 15px 10px;
  }
}

.footer {
  margin-top: auto;
  background-color: #1C1B17;
  padding: 15px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #FFFFFF;
}

@media screen and (max-width: 400px) {
  .footer__logo {
    width: 100%;
    text-align: center;
  }
}

.footer__number {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}

@media screen and (max-width: 400px) {
  .footer__number {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.footer__link:hover {
  color: #C42042;
}

@media screen and (max-width: 425px) {
  .footer__link {
    display: inline-block;
    -ms-flex-preferred-size: fill;
        flex-basis: fill;
  }
}

.footer__address {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}

@media screen and (max-width: 425px) {
  .footer__address {
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .footer__address {
    width: 100%;
    text-align: center;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 870px) {
  .footer__social {
    margin: 0 auto;
  }
}

@media screen and (max-width: 754px) {
  .footer__social {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .footer__social {
    margin: 10px auto 0;
  }
}

.footer__icon {
  margin-right: 20px;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__icon-item {
  display: block;
}

.footer__adv {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  display: block;
  color: #fff;
  text-align: right;
  padding: 1rem 0;
}

@media screen and (max-width: 870px) {
  .footer__adv {
    text-align: center;
  }
}

.modal {
  opacity: 0;
  visibility: hidden;
  z-index: -2;
  -webkit-transition: opacity, visibility .3s linear;
  transition: opacity, visibility .3s linear;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  max-width: 650px;
  margin: 0 20px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.modal__img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.modal__success {
  text-align: center;
}

.modal__success-text {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  background-color: #94ec8c;
  color: #057514;
  border-radius: 0.450em;
  border: 1px solid #199e2f;
}

.modal__window {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  padding: 30px 60px 60px;
  max-width: 650px;
  margin: 0 20px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.modal__window.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 425px) {
  .modal__window {
    padding: 1rem;
  }
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal.active {
  opacity: 1;
  z-index: 1000;
  visibility: visible;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.modal__title {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 600;
  margin-bottom: 30px;
}

.modal__form {
  text-align: center;
}

.modal__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  padding: 0.938em 1.250em;
  width: 100%;
  margin-bottom: 3rem;
  border-radius: 0.625em;
  border: 1px solid #fff;
  -webkit-transition: border .3s linear;
  transition: border .3s linear;
}

.modal__input::-webkit-input-placeholder {
  color: #ababab;
  font-family: inherit;
}

.modal__input:-ms-input-placeholder {
  color: #ababab;
  font-family: inherit;
}

.modal__input::-ms-input-placeholder {
  color: #ababab;
  font-family: inherit;
}

.modal__input::placeholder {
  color: #ababab;
  font-family: inherit;
}

.modal__input:focus {
  border: solid 1px #C42042;
}

.modal__error-name {
  display: none;
  padding: 1rem 2rem;
  background-color: #ee8888;
  border: 1px solid red;
  border-radius: 0.325em;
  color: #c40a0a;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  margin-top: -2rem;
}

.modal__error-phone {
  display: none;
  padding: 1rem 2rem;
  background-color: #ee8888;
  border: 1px solid red;
  border-radius: 0.325em;
  color: #c40a0a;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  margin-top: -2rem;
}

.modal__button {
  border: none;
  padding: 15px 100px;
  border-radius: 0.625em;
  color: #fff;
  background-color: #C42042;
  -webkit-transition: -webkit-box-shadow .3s linear;
  transition: -webkit-box-shadow .3s linear;
  transition: box-shadow .3s linear;
  transition: box-shadow .3s linear, -webkit-box-shadow .3s linear;
}

.modal__button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 17px 2px rgba(196, 32, 66, 0.8);
          box-shadow: 0px 0px 17px 2px rgba(196, 32, 66, 0.8);
}

.modal__button:focus {
  outline: none;
}

@media screen and (max-width: 425px) {
  .modal__button {
    width: 100%;
    padding: 15px 30px;
  }
}
